@import "tailwindcss";

*{
  font-family: "DM Sans", sans-serif;
}
/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}